.lineupContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        background-color: rgb(189, 189, 189);
        color: #444;   
        padding: 25px;
}
.lineup{
    background: whitesmoke;
    border-spacing:0 15px; 
    padding: 5px;
}
.lineup td{
    padding-left: 10px;
    padding: 5px;
}
.lineup th{
    padding-left: 10px;
    padding: 5px;
}
.card{
    border-bottom: 2px solid #444;
}